.RegContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RegCon {
    background-color: #ffffff;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.regFormCom {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.regFormCom label {
    width: 70px;
}

.regFormCom>div {
    width: 100%;
}

.RegFormCheckCon div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}