.mediaCon{
    margin: 5px;
    width: 96%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.singleImgConDiv{
    position: relative;
    margin: 1px;
    padding: 1px;
    background-color: white;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 5px;
}
.singleImgConDiv:hover{
    cursor: pointer;
}
.singleImgConDiv img{
    border-radius: 5px;
    width: 96%;
    height: 96%;
}
.singleImgConDiv img:hover{
    cursor: pointer;
}

