.PostCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    padding: 3px;
    margin-bottom: 20px;
    background-color: silver;
}




.postConFormTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
.postConTextareaCon > textarea{
    padding: 3px;

}

.postConUploadCon{
    display: flex;
    
}

.fileVideoUpload{
    display: none;
}

.fileImgUpload{
    display: none
}