.PostCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    padding: 3px;
    margin-bottom: 20px;
}

.formCon {
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postConFormTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.postConFormTop {
    margin: 10px 0;
}