
.HcCon {
    padding: 5px;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    background-color: #eaf2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px auto;
    box-shadow: 4px 4px 5px #666666;
}
.HcCon:hover{
    cursor: pointer;
}
.HcCon > div{
    width: 90%;
    padding: 5px;
    margin: 1px;
}







