.HcBodyCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.HcBodyCon p {
    padding: 5px;
    max-width: 500px;
    font-size: 1.125rem;
}