.LoginCon {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginCon>div {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.LoginForm {
    padding: 10px;
}

.LoginInputCon {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginCon .LoginRegCon {
    display: flex;
    flex-direction: row;

}