.RegContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RegCon {
    background-color: #ffffff;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px grey solid;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #3d79e9;

}

.regFormCom {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.regFormCom label {
    width: 70px;
}

.regFormCom>div {
    width: 95%;
}

.RegFormCheckCon div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}