.TopNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eaf2f2;
    height: 60px;
    padding: 5px;
}
.TopNavTitle{
    width: 230px;
}

.TopNavTitle:hover{
    cursor: pointer;
}
.TopNavRight{
    min-width: 180px;
    width: 20%;   
    justify-self: self-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.TopNavRightNameCon{
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.TopNavName{
    font-size: 1.25rem;
}
.TopNavImgCon{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.TopNavImg {
    width: 96%;
    height: 96%;
    border-radius: 100%;
}
.TopNavImgCon:hover{
    cursor: pointer;
}
.TopNavImgCon:hover .TopNavImgDown{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.TopNavImgDown{
    width: 100px;
    background-color:#eaf2f2;
    box-shadow: 2px 2px 2px whitesmoke;
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
}
.TopNavImgDown li{
    display: block;
    width: 100%;

}
.TopNavImgDown li a{
    display: block;
    width: 100%;
}
.TopNavImgDown li a:hover{
    background-color: wheat;
}

.TopNavLogRegCon{
    min-width: 130px;
}
.TopNavLogRegCon a{
    padding: 0px 10px;
    font-size: 1.25rem;
}
.TopNavLogRegCon  a:hover{
    cursor: pointer;
    color:  #e67f4f;
}
.TopNavLog{
    border-right: 1.5px black solid;

}
.TopNavIcon{
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.TopNavIcon:hover{
    cursor: pointer;
}
.TopNavHelpIcon{
    width: 32px;
}

