.HcComBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.HcCon {
    padding: 5px;
    width: 600px;
    background-color: #eaf2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px auto;
}
.HcCon:hover{
    cursor: pointer;
}
.componCon {
    width: 500px;
    height: auto;
    padding: 5px;
    margin: 1px;
}
.HcHeadCon {
    /*background-color: beige;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}
.HcHeadImg {
    /*margin-top: 5px;*/
    width: 55px;
    height: 55px;
    background-color: #33548a;
    border-radius: 100%;
}
.HcHeadNTCon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
    /*background-color: red;*/
}
.HcHeadName {
    display: block;
    font-size: 20px;
    padding: 3px;
}
.HcHeadTime {
    display: block;
    font-size: 13px;
    padding: 3px;
}

.HcBodyCon {
    /*max-height: 300px;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.HcBodyCon p {
    max-width: 500px;
    padding: 5px;
    /*display: flex;*/
    /*align-content: flex-start;*/
    /*align-items: flex-start;*/
    /*background-color: #33548a;*/
}
.HcDownCon {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*background-color: aqua;*/
}
.HcIcon {
    display: flex;
    /*background-color: red;*/
    margin: 0 5px;

}
.HcIcon:hover {
    cursor: pointer;
}

.LikeShowCon {
    /*background-color: antiquewhite;*/
    display: flex;
    flex-wrap: wrap;
}
.likeShowName {
    font-size: 18px;
    display: flex;
    align-items: center;
    /*background-color: rebeccapurple;*/
    margin: 0 5px;
}
.SubCmtCon {
    /*background-color: aqua;*/
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.SubCmtInput {
    width: 430px;
    height: 25px;
    font-size: 18px;

    resize: none;
    border-radius: 5px;
    padding: 1px;
    border: #33548a 2px solid;
    outline: none;

}
.SubCmtBtn {
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    background: #37578c;
    color: #ffffff;
    width: 60px;
    height: 30px;
    margin-left: 5px;
}
.SubCmtBtn:hover {
    cursor: pointer;
}
.HcLikeIcon{
    text-decoration: #e67f4f;
}
