.HcComBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.HcCon {
    padding: 5px;
    width: 600px;
    background-color: #eaf2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px auto;
    box-shadow: 4px 4px 5px #666666;
}
.HcCon:hover{
    cursor: pointer;
}
.componCon {
    width: 80%;
    padding: 5px;
    margin: 1px;
    /* background-color: salmon; */
}
.HcHeadCon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.HcHeadImgCon{
    width: 55px;
    height: 55px;
}
.HcHeadImg {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.HcHeadNTCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
}
.HcHeadName {
    font-size: 1.25rem;
}
.HcHeadTime {
    font-size: 0.675rem;
}
.HcBodyCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.HcBodyCon p {
    max-width: 500px;
    font-size: 1.125rem;
}
.HcDownCon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.HcIconCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid grey; */
    border-radius: 10%;
    margin: 0px 10px;
    padding: 4px;
}
.HcIconCon p{
    font-size: 0.75rem;
}

.HcIcon {
    width: 20px;
    height: 20px;
    /*background-color: red;*/
    margin: 0 5px;

}
.HcIcon:hover {
    cursor: pointer;
}



.SubCmtCon {
    /*background-color: aqua;*/
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.SubCmtInput {
    width: 430px;
    height: 25px;
    font-size: 18px;
    resize: none;
    border-radius: 5px;
    padding: 1px;
    border: #33548a 2px solid;
    outline: none;
}
.SubCmtBtn {
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    background: #37578c;
    color: #ffffff;
    width: 60px;
    height: 30px;
    margin-left: 5px;
}
.SubCmtBtn:hover {
    cursor: pointer;
}
.HcLikeIcon{
    /* text-decoration: #e67f4f; */
}
.LikeShowCon{
    display: flex;
    flex-direction: row;
    /* background-color: cadetblue; */
}
.likeShowIconCon{
    width: 35px;
    height: 35px;
    /* background-color: brown; */
}
.likeShowIconCon img{
    width: 100%;
    height: 100%;
}
.likeShowName {
    font-size: 1rem;
    display: flex;
    align-items: center;
    /* background-color: rebeccapurple; */
    margin: 0 3px;
}

.HcCmtCon{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    margin-top: 1px;

}

.HcCmtUserImgCon{
    width: 30px;
    height: 30px;
    /* background-color: bisque; */
    margin-right: 5px;

}    
.HcCmtUserImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.HcCmtTextCon{
    width: 100%;
    /* background-color: blueviolet; */
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HcCmtTextIconCon{
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
}
.HcCmtTextIconCon img{
    display: none;
}

.HcCmtTextCon:hover  .HcCmtTextIconCon img{
    display: block ;
}

