
.HcCon {
    padding: 5px;
    width: 600px;
    background-color: #eaf2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px auto;
    box-shadow: 4px 4px 5px #666666;
}
.HcCon:hover{
    cursor: pointer;
}
.HcCon > div{
    width: 90%;
    padding: 5px;
    margin: 1px;
}

.HcHeadCon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.HcHeadImgCon{
    width: 55px;
    height: 55px;
}
.HcHeadImg {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.HcHeadNTCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
}
.HcHeadName {
    font-size: 1.25rem;
}
.HcHeadTime {
    font-size: 0.675rem;
}
.HcBodyCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.HcBodyCon p {
    max-width: 500px;
    font-size: 1.125rem;
}
.HcDownCon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.HcIconCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid grey; */
    border-radius: 10%;
    margin: 0px 10px;
    padding: 4px;
}
.HcIconCon p{
    font-size: 0.75rem;
}

.HcIcon {
    width: 20px;
    height: 20px;
    /* background-color: red; */
    margin: 0 5px;

}
.HcIcon:hover {
    cursor: pointer;
}




